* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #1D3557;
    max-width: 375px;
    max-height: 812px;
    text-decoration: none;
    background-color: #ffffff;
    position: relative;
}

li {
    list-style-type: none;
}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
}

p span {
    font-weight: bold;
    font-size: 18px;
}

h3 {
    font-size: 22px !important;
    font-weight: 500;
    font-style: normal;
}

.landing-wrapper {
    height: 100%;
}

.landing {
    height: 100%;
    width: 100%;
    position: fixed;
}

.dashboard {
    padding: 16px;
    margin: 0 auto;
    overflow: hidden;
}


.card-body {
    /* position: absolute; */
    width: 343px;
    height: 212px;
    left: 16px;
    top: 64px;
    background-color: #45789D;
    border-radius: 16px;
}

.box {
    background-color: #ffffff;
    border-radius: 16px;
    max-width: 165px !important;
    height: 212px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 8px;
    margin-top: 15px;
    padding: 4px;
}

.feeds {
    
}

.health {
    padding: 10px;
}

.health li {
    padding: 5px;
    margin: 8px;
    font-weight: 500;
}

.accounting {
    justify-content: center;
    text-align: center;
}

.accounting h3 {
    font-size: 20px !important;
}

td {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.inventory:hover {
    background-color: #457B9D;
    color: #ffffff;
}

.daily-records {
    background-color: #457B9D;
    color: #ffffff;
}

.features {
    position: absolute;
    top: 315px;
    left: 0px;
    max-width: 370px;
    height: 443px;
    background-color: #F2F2F2;
    box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-items: center;
    z-index: 2000;
    background-color: #ffffff;
    padding: 10px;
}